.App {
  text-align: center;
  max-width: 75vw 60vw;
  margin: 0 auto;
  text-align: start;
  display: flex;
  align-items: stretch-center;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 2.5%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 2.5%;
}

.header{
  width: 100%; height: 100%;
}

.Sidebar{
  padding: 2%;
  margin: 1%;
  border: 5px solid;
  border-radius: 25px;
  border-color: #388697;
  background-color:#B5B2C7;
  height: auto;
  width:33%;
}

.student-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%
}

.StudentProfile {
  padding: 2%;
  margin: 1%;
  border: 5px solid;
  border-radius: 25px;
  border-color: #721817;
  background-color:#B5B2C7;
  width: 48%
}

.header{
  padding: 0 rem, 11rem;
  margin: 0 rem, 11rem
}

.Side-bar {
  display: flex;

  flex-direction: column;

  margin: 15px 35px 0 50px;
  padding: 25px 20px 0 20px;

  border: #d2d2d2 solid 2px;
  border-radius: 10px;

  box-shadow: 0 1px 1px #d2d2d2;
}


/*
vars and color
 */
#opener {
  /* define the color pallete */
  --primary-color: #DADFF7;
  --secondary-color: #B5B2C2;
  --accent-color: #388697;
  --text-color: #232C33;
  --second-accent: #721817;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  background-color: #DADFF7;
  color: #232C33;
  line-height: 1.5;
}

img {
  padding: 1% !important
}

h1 {
  color: #388697;
  display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
    font-size: 1.17em;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4{
  display: block;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p{
display: block;
margin-block-start: .5em;
margin-block-end: .5em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.navbar {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.navbar-item {
  color: var(--text-color);
}

.container-fluid {
  background-color: #DADFF7;
  padding: 1%;
}

.navbar-item {
  color: #F8F1FF
}

div.the-body>div:nth-of-type(odd) {
  background: #DADFF7;
}

div.the-body>div:nth-of-type(even) {
  background: var(--secondary-color);
}

.sub-section {
  background: var(--secondary-color);
  padding: .5%;
}

.unit-box {
  margin: 1%;
}

img {
    width: 18rem;
    height: 18rem;
}

html {
  scroll-behavior: smooth;
}